body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.buttons-container {
    text-align: center;
    margin-top: 20px;
}

#new-movie-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-movie-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-movie-button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#movie__list {
    list-style-type: none;
    padding: 0;
}

#movie__list li {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

#movie__list li:last-child {
    border-bottom: none;
}

#movie__list li img {
    max-width: 100px;
    max-height: 150px;
    margin-top: 10px;
    display: block;
    border-radius: 5px;
}
