* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    color: white;
    min-height: 100vh;
    font-family: "Fruktur", system-ui;
    background: linear-gradient(240deg, rgb(165, 180, 252), rgb(79, 70, 229), rgb(156, 45, 172));
}
form .input-block
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}


header {
    font-size: 20px;
    font-weight: bold;
}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, 
form button {
    padding: 8px;
    padding-left: 16px;
    font-size: 24px;
    border: none;
    background: white;
    border-radius: 32px;
}

form button {
    color: rgb(255, 200, 0);
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 8px;

}

form button:hover {
    color: white;
    background: rgb(255, 200, 0);
}

.fa-plus {
    padding: 3px;
    margin-left: -8px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.todo-list {
    min-width: 30%;
    list-style: none;
    
}

.todo {
    margin: 8px;
    padding-left: 8px;
    background: white;
    color: black;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 32px;
}

.todo li {
    flex: 1;
}

.trash-btn, 
.complete-btn {
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    font-size: 30px;
}

.complete-btn {
    background: rgb(255, 200, 0);
}

.trash-btn {
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: rgb(171, 171, 171);
}

.todo-item {
    padding: 0px 8px;
    
}

.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 16px;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

select {
    color:rgb(255, 200, 0);
    width: 160px;
    cursor: pointer;
    padding: 16px;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background:rgb(255, 200, 0);
    top: 0;
    right: 0;
    padding: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: white;
    color: rgb(255, 200, 0);
}